<ion-header>
  <ion-navbar color="primary">
    <ion-title>
      Maps
    </ion-title>
    <ion-buttons end>
      <button ion-button (click)="openAddModal()">
        <ion-icon name="add"></ion-icon>
        Add Marker
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-searchbar (ionInput)="filterItems($event)"></ion-searchbar>

  <!--<div style="  display: flex; flex-wrap: wrap; align-items: stretch;">-->

  <!--</div>-->
  <ion-grid>

    <ion-row *ngFor=" let i of rows" responsive-sm>
      <ion-col *ngFor=" let stationInfo of stationsInfo | slice:(i*2):(i+1)*2" width-50>
        <mapCard [mapInfo]="stationInfo"></mapCard>
      </ion-col>
    </ion-row>

  </ion-grid>
  <div *ngIf="!stationsInfo || stationsInfo.length == 0">
    Oops Nothing Found.
  </div>
  <div class="bottom-padding"></div>


</ion-content>
